[Unit]
ConditionKernelCommandLine=czechlight
Description=nghttpx reverse proxy for handling incoming HTTP requests
Documentation=man:nghttpx
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/nghttpx --accesslog-syslog -f '*,80;no-tls' -b '::1,81;;proto=h2' -b '::1,10080;/telemetry/:/restconf/;proto=h2' --add-forwarded=for
ExecReload=/bin/kill --signal HUP $MAINPID
KillSignal=SIGQUIT
PrivateTmp=no
ProtectHome=yes
ProtectSystem=full
Restart=always