[Unit]
ConditionKernelCommandLine=czechlight=%i
Description=nghttpd static file serving
Documentation=man:nghttpd
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nghttpd --no-tls --address=::1 --htdocs=/usr/share/gammarus/static/%i 81
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
Restart=always