[Unit]
Description=hackishly execute the full-spectrum-scan sysrepo RPC
ConditionKernelCommandLine=|czechlight=sdn-roadm-line
ConditionKernelCommandLine=|czechlight=sdn-roadm-add-drop
ConditionKernelCommandLine=|czechlight=sdn-roadm-coherent-a-d
ConditionKernelCommandLine=|czechlight=sdn-inline
After=network.target sysrepod.service cla-sdn-roadm-line.service cla-sdn-roadm-add-drop.service cla-sdn-roadm-coherent-a-d.service sdn-inline.service
Before=nghttpx@.service

[Service]
Type=simple
ExecStart=/usr/bin/socat UNIX-LISTEN:/run/restconf-data.sock,unlink-early,unlink-close,fork EXEC:/usr/bin/restconf-data.sh
Restart=always
